main {
   width: 100%;
   height: auto; 
   display: flex;
   flex-flow: row wrap;
   gap: 20px;
}

main .box{
    height: 40px;
    background-color: greenyellow;
    display: flex;
    border: 3px solid black;
}
main .con{ width: 100%;
           height: auto;
           display: flex;
           gap: 45px;}


main .box:nth-child(1){width:10% ;}
main .box:nth-child(2){width:60% ;}
main .box:nth-child(3){width:10% ;}
main .box:nth-child(4){width:20% ;}
main .box:nth-child(5){width:10% ;}
main .box:nth-child(6){width:20% ;}
main .box:nth-child(7){width:60% ;}
main .box:nth-child(8){width:20% ;}
main .box:nth-child(9){width:10% ;}
main .box:nth-child(10){width:20% ;}
main .box:nth-child(11){width:10% ;}
main .box:nth-child(12){width:20% ;}
main .box:nth-child(13){width:10% ;}
main .box:nth-child(14){width:20% ;}