.hero{width: 100%;
height: 100vh;
background-image:url('image/Rectangle\ 1441.png');
background-position: center;
background-repeat: no-repeat;
background-size: cover;}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
}

.img-sofa{background-image: url('image/sofa.png');
width: 100%;
height: 70vh;
box-sizing: border-box;
background-size: center;
background-repeat: no-repeat;}

